<!-- templates/admin.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Respostas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}" type="image/x-icon">
</head>
<body >
  <div class="navbar">
      <ul>
        <li class="navbar-item">Inicio</li>
        <li class="navbar-item">Usuário</li>
        <li class="navbar-item">Pesquisa</li>
        <li class="navbar-item"><a href="{{ url_for('analitico') }}">Analítico</a></li>
      </ul>
  </div>
  <div class="admin-page">
    <h2>Painel de Respostas</h2>
</body >
</html>
