<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Pesquisa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}" type="image/x-icon">

</head>
<body>
    <!-- Botão de acesso do RH -->
    <button class="admin-button" onclick="window.location.href='{{ url_for('admin_login') }}'">
      Área do RH
    </button>
    <div class="teste-1"></div>
    <div class="login-container">
     <div class="logo">
        <img src="{{ url_for('static', filename='/img/logo.png') }}" alt="">
     </div>
        <h2>Pesquisa de clima organizacional</h2>
        <span>Buscando sempre blah</span>
        <form method="POST">
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" required>

            <label for="data_nascimento">Data de nascimento:</label>
            <input type="date" name="data_nascimento" required>

            <button type="submit" class="btn-login">Entrar</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <div class="info-box-login">
            Pesquisa de satisfação da rede Samar, questionário totalmente anônimo
        </div>
    </div>
</body>
</html>
