<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login RH - Pesquisa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button class="admin-button" onclick="window.location.href='{{ url_for('login') }}'">
      Voltar ao Login Colaborador
    </button>

    <div class="login-container">
        <h2>Entrar - Área do RH</h2>

        <form method="POST" action="{{ url_for('admin_login') }}">
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" required>

            <label for="data_nascimento">Data de nascimento:</label>
            <input type="date" name="data_nascimento" required>

            <button type="submit">Entrar</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
