<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Pesquisa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Entrar na Pesquisa</h2>

        <form method="POST">
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" required>

            <label for="data_nascimento">Data de nascimento:</label>
            <input type="date" name="data_nascimento" required>

            <button type="submit">Entrar</button>
        </form>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <div class="info-box-login">
            Pesquisa de satisfação da rede Samar, questionário totalmente anônimo
        </div>
    </div>
</body>
</html>
